<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/29410237-8561-45cf-9690-31c1654e210c/resourcegroups/DockerCIRegistry/providers/Microsoft.ContainerRegistry/registries/NerdDinner2018</ResourceId>
    <ResourceName>NerdDinner2018</ResourceName>
    <ResourceGroup>DockerCIRegistry</ResourceGroup>
    <Subscription>Microsoft Azure Enterprise</Subscription>
    <RegistryUrl>https://nerddinner2018.azurecr.io/</RegistryUrl>
    <UserName>NerdDinner2018</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>